.main-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-container{
  width: 90%;
  margin: 0px auto;
  margin-top: 30px;
}
form{
  padding: 20px 20px;
  background: #494E6B;
  color: white;
  font-size: 15px;
  border-radius: 1%;
}
.radio-containers  span{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}
fa-icon{
  font-size: 80px;
}
input[type="radio"], input[type="radio"]+label{
  cursor: pointer;
}
form > div,
.picture-container + .title-container {
  margin-bottom: 50px;
}

/*
.title-container + .picture-container{
  margin-top: 30px;
}
*/
form .title-container:last-child{
  margin-bottom: 0px;
}
form > div.remove-margin{
  margin-bottom: 0px;
}
form  div.smaller-margin{
  margin-bottom: 15px;
}
input[type="radio"]{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
input, select{
  font-size: 15px;
  padding: 7px;
  width: 95%;
}
button{
  font-size: 15px;
  background: #985E6D;
  border: 1px solid black;
  padding: 10px;
  color: white;
}
button[type="submit"]{
}
button[type="button"], p{
  margin-top: 10px;
}
img{
  height: 200px;
  max-width: 100%;
  vertical-align: bottom;
}
.preview-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.preview-container > div.title-container{
  width: 100%;
}
.picture-container + .title-container{
  margin-top: 10px;
}
.picture-container + .picture-container{
  margin-top: 30px;
}
.loading-img {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.validationMsg {
  margin-top: 7px;
  color: red;
  position: relative;
}
.validationMsg span{
  position: absolute;
}
input[type="text"] {
  border: 2px solid black;
}
input[type="text"].ng-valid {
  border-color: green;
}
input[type="text"].ng-invalid.ng-touched, input[type="text"].ng-invalid.ng-dirty {
  border-color: red;
}
.no-albums{
  color: red;
}

@media screen and (min-width: 375px){

}
@media screen and (min-width: 760px){
  .main-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  form{
    font-size: 20px;
    padding: 50px;
  }
  form > div, .picture-container + .title-container {
    margin-bottom: 65px;
  }
  .radio-containers > div{
    display: flex;
    justify-content: space-around;
  }
  button{
    font-size: 20px;
  }
  input, select{
    font-size: 20px;
  }
  .radio-containers  span{
    margin-top: 0px;
  }
  .picture-container + .picture-container{
    margin-top: 45px;
  }
}
@media screen and (min-width: 1024px){
  button[type="button"], p{
    margin-top: 0px;
  }
  form{
    padding: 50px;
    font-size: 20px;
  }
  form > div, .picture-container + .title-container {
    margin-bottom: 75px;
  }
  input[type="radio"]{
    width: 30px;
    height: 30px;
  }
  .radio-containers{
    display: flex;
    justify-content: flex-end;
  }
  .radio-containers > div {
    width: 75%;
    justify-content: space-between;
  }
  .radio-containers  span{
    display: inline-flex;
    width: 250px;
  }
  .title{
    display: inline-block;
    width: 25%;
  }
  .content{
    display: inline-block;
    width: 75%;
  }
  .preview-container > div.picture-container{
      width: 75%;
  }
  .preview-container{
    align-items: flex-end;
  }
  button{
    font-size: 20px;
  }
  button[type="submit"]{
    padding: 0px;
    padding: 10px 50px;
  }
  input, select{
    padding: 10px;
    width: 50%;
  }
  .loading-img {
    display: block;
  }
  .validationMsg span{
    left: 25%;
    right: 0px;
  }
  .picture-container + .picture-container{
    margin-top: 60px;
  }
}
@media screen and (min-width: 1400px){
  .radio-containers  span{
    width: 350px;
  }
}
