
<div class="container">
      <div class="">
        <a [routerLink]="title">
          <img src="{{thumbnailSrc | addLocalhost}}" alt="">
          <h4 [class.show]="showUploader">Uploaded By: {{uploadedBy}}</h4>
        </a>

        <div class="controls-container">
          <fa-icon [icon]="['fas', 'arrow-up']" class="icons"
            (click)="incrementLikes()" [class.green]="likePicture&&voted">
          </fa-icon>

          <span>Likes: {{likes}}</span>

          <fa-icon [icon]="['fas', 'arrow-down']" class="icons"
            (click)="decrementLikes()" [class.red]="!likePicture&&voted">
          </fa-icon>
        </div>
      </div>

  <div class="title">
    {{title}}
  </div>

  <div class="">
    Comments:{{numberOfComments}}
  </div>
</div>
