nav{
  font-size: 25px;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background: #985E6D;
  z-index: 1;
  height: 60px;
}
h1 {
  text-align: center;
  margin: 15px;
  display: none;
  color: black;
}
button{
  height: 60px;
  width: 80px;
  background: #985E6D;
  border: none;
  border-right: 2px solid black;
}
ul{
  list-style: none;
  display: none;
  flex-direction: column;
  background: #985E6D;
  position: absolute;
  right: 0px;
  left: 0px;
  z-index: 1;
}
ul fa-icon{
  padding-left: 20px;
}
.appear{
  display: flex;
}
ul > *{
}
a{
  text-decoration: none;
  display: flex;
  padding: 30px;
  border: 1px black solid;
}
.main-container {
  margin-top: 60px;
}


@media screen and (min-width: 760px){
  .main-container {
    margin-top: 60px;
  }
  nav{
    font-size: 20px;
  }
  button{
    display: none;
  }
  h1 {
    display: block;
  }
  ul{
    position:static;
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  ul > * {
    display: flex;
    flex-direction: row;
  }
  a{
    padding: 0px;
    background: #985E6D;
    width: 200px;
    justify-content: center;
    align-items: center;
    border: none;
    border-right: 2px solid black;
  }
  li:last-child {
    margin-left: auto;
    border-left: 2px solid black;
  }
}
@media screen and (min-width: 1024px){
  nav {
    width: 1000px;
    left: auto;
    right: auto;
  }
}
@media screen and (min-width: 1400px){
  nav {
    width: 1400px;
  }
}
