.main-container{
  background: #494E6B;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  padding: 30px 10px;
}
form{
  width: 260px;
  margin: 0 auto;
}
h3{
  text-align: center;
  margin-bottom: 30px;
}
div.validationMsg + * {
  margin-top: 90px;
}
.validationMsg {
  position: relative;
  margin-top: 10px;
}
span{
  color: red;
  position: absolute;
  text-align: center;
}
label{
  display: block;
  margin-bottom: 10px;
}
input{
  padding: 5px;
  border: 2px solid black;
}
button{
  background: #985E6D;
  border: 1px solid black;
  padding: 15px;
  margin-top: 20px;
}
input.ng-valid{
  border: 2px solid green;
}
input.ng-invalid.ng-dirty, input.ng-invalid.ng-touched{
  border: 2px solid red;
}

@media screen and (min-width: 375px){
}
@media screen and (min-width: 760px){
  .main-container{
    width: 700px;
  }
  form {
    width: 400px;
    margin: 0 auto;
  }
  input{
    display: block;
    width: 70%;
    margin: 0 auto;
  }
  label,button {
    margin-left: 15%;
  }
  div.validationMsg + * {
    margin-top: 75px;
  }
  span{
    width: 100%;
  }
}
@media screen and (min-width: 1024px){
  .main-container{
    width: 900px;
  }
  form {
    width: 500px;
  }
  input{
    width: 60%;
    padding: 7px;
  }
  label,button {
    margin-left: 20%;
  }
}
@media screen and (min-width: 1400px){
  .main-container{
    width: 1200px;
  }
}
