

<div class="main-container">

  <h3>Sign in</h3>

<form class="" action="index.html" method="post" [formGroup]="userCredentials" (ngSubmit)="handleSubmit()">

    <label for="username">Username:</label>
    <input type="text" formControlName="username" id="username" maxlength="20">

  <div class="validationMsg">
    <span *ngIf="(username.dirty || username.touched) && username.invalid">The username is required</span>
  </div>



    <label for="password">Password</label>
    <input type="password" formControlName="password"id="password">
  <div class="validationMsg">
    <span *ngIf="(password.dirty || password.touched) && password.errors?.required">Password can't be left blank</span>
    <span *ngIf="password.dirty && password.errors?.minlength">Password must be at least 4 characters long</span>
  </div>

  <button type="submit" name="button">Login</button>
</form>

</div>
