.main-container{
  width: 90%;
  margin: 0 auto;
  background: #494E6B;
  padding: 30px 10px 30px 10px;
  font-size: 20px;
}
.main-picture {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-picture img {
  height: 100%;
  width: 75%;
  object-fit: contain;
}
.main-picture fa-icon {
  font-size: 20px;
}
a{
  max-width: 10%;
  padding: 22px 2px;
}
a.disable{
  background: #98878F;
  opacity: 0.7;
}
.flex-container{
  background: #98878F;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2%;
  border: 1px solid black;
  margin-top: 10px;
}
.flex-container > fa-icon {
  margin-right: 20px;
  font-size: 30px;
}
.child-container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 1px solid black;
  background: #98878F;
}
.child-container + .child-container {
  margin-top: 10px;
}
.child-container > .content {
  grid-column: 1/3;
}
span{
  font-size: 16px;
}
textarea{
  height: 100px;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border: 2px solid black;
}
p {
  padding: 10px;
  text-align: justify;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.avatar> img{
  height: 50px;
  max-width: 100%;
}
.button-container{
  display: flex;
  flex-direction: column;
  margin: 0px 5px 5px 5px;
}
.button-container > div:last-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: -1;
}
input, select, button {
  font-size: 12px;
  padding: 8px;
}
button, a{
  background: #985E6D;
  border: 1px solid black;
}
h3, h2.title {
  padding: 10px;
}
h2.title {
  text-align: center;
  padding-top: 0px;;

}
.isLiked{
  color: #3b5998;
}
.form{
  padding: 8px;
}
.form .button-container{
  margin: 0px;
}
.validation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.validation p {
  padding-bottom: 0px;
  padding:
}
.form-container button {
  margin: 0px 5px 5px 5px;
}
/*
.form-container {
  grid-template-columns: 1fr 100px 4fr;
}
*/
textarea.ng-invalid.ng-touched, textarea.ng-invalid.ng-dirty {
  border: 2px solid red;
}
@media screen and (min-width: 375px){

}
@media screen and (min-width: 760px){
  a {
    padding: 10px;
  }
  .main-picture fa-icon {
    font-size: 50px;
  }
  .avatar {
    grid-row: 1/3;
    padding: 20px;
    border-right: 1px solid black;
  }
  .child-container > .content {
    grid-column: 2/3;
  }
  .avatar> img{
    height: 100px;
  }
  input, select, button {
    font-size: 18px;
    padding: 10px;
  }
  p {
    padding: 20px;
  }
  .validation p {
    padding: 10px;
    padding-bottom: 0px;
  }
  .button-container{
    margin: 0px 15px 10px 15px;
  }
  .main-picture {
    height: 450px;
  }
  textarea {
    height: 100px;
  }
  span{
    font-size: 18px;
  }

  h2.title {
    padding-bottom: 30px;
    font-size: 28px;
  }
  .form-container button {
    grid-column: 2/3;
  }
  .form-container .avatar {
    grid-row: 1/4;
  }
  .form-container .validation {
    order: 1;
    position: relative;
    height: 40px;
  }
  .form{
    padding: 40px 15px 0px 15px;
  }
  .form-container button {
    margin: 0px 15px 0px 15px;
  }
  .form-container .validation p {
    position: absolute;
    padding: 0px;
  }
}
@media screen and (min-width: 1024px){
  .button-container{
    flex-direction: row;
    justify-content: space-between;
  }
  .button-container > div:last-child {
    order: 0;
    width: auto;
  }
  .main-picture {
    height: 600px;
  }
  .button-container > div:last-child > span {
    margin-right: 40px;
  }
  textarea{
    height: 120px;
  }
  .form{
    padding: 15px;
  }
  h2.title {
    font-size: 32px;
  }
  .validation{
    order: 1;
    margin: 0px 15px 10px 15px;
    justify-content: flex-end;
    font-size: 22px;
  }
  .validation p {
    padding: 13px;
    padding-bottom: 0px;
  }
  .form-container {
    grid-template-columns: 20% 200px 1fr;
  }
  .form-container button {
    margin: 0px 15px 10px 15px;
  }
  .form-container .form {
    grid-column: 2/4;
  }
}
@media screen and (min-width: 1400px){
  .main-picture {
    height: 700px;
  }
  .wrapper, .main-picture{
    width: 90%;
    margin: 0 auto;
  }
  .avatar> img{
    height: 150px;
  }
}
