

<div class="main-container">
  <h3>Welcome back!</h3>

  <div class="picture-container">
    <div class="picture">
      <img [src]="previewSrc" alt="">
    </div>
    <button class="choose" (click)="file.click()">
      Choose Picture
    </button>
  </div>

  <form (ngSubmit)="handleSubmit(form)" #form>
    <div class="">
      <label for="username">Username:</label>
      <input type="text" name="username" value="" id="username">
    </div>

  <div class="">
    <label for="location">Location</label>
    <input type="text" name="location" value="" id="location">
  </div>

  <div class="">
    <label for="password">Password</label>
    <input type="text" name="password" value="" id="password">
  </div>

  <div class="">
    <label for="repeatPassword">Repeat Password</label>
    <input type="text" name="repeatPassword" value="" id="repeatPassword">
  </div>

  <input type="file" #file name="profilePicture" value="" accept="image/*" (change)="readFileIntoAURL(file.files[0])">
  <input type="submit" name="" value="Create user">
</form>

</div>
