.main-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2em;
  width: 85%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 80%;
}

/*at exact width max width applies */
@media screen and (min-width: 375px){
  .main-container{
  }
}
@media screen and (min-width: 760px){
  .main-container{
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em;
    width: 85%;
  }
}
@media screen and (min-width: 1024px){
  .main-container{
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    width: 90%;
  }
}
@media screen and (min-width: 1400px){
  .main-container{
    grid-gap: 5em;
  }
}
