.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list-item{
  width: 50%;
  margin-bottom: 50px;
  width: 40%;
  height: 400px;
  margin-bottom: 50px;
  width: 40%;
  height: 400px;
}
.main-container > app-album-list-item:nth-of-type(1),app-album-list-item:nth-of-type(2){
  margin-top: 50px;
}
