form{
  padding: 20px 50px;
  background: #494E6B; 
}
h2{
  padding-left: 50px;
}
.radio-containers{
  display: flex;
  justify-content: flex-end;
}
.radio-containers > div {
  width: 75%;
}
.radio-containers  span{
  padding-right: 40px;
}
.title{
  display: inline-block;
  width: 25%;
}
.content{
  display: inline;
}
form > div {
  margin-bottom: 40px;
}
img{
  height: 200px;
}
.preview-container > div.picture-container{
    width: 75%;
}
.preview-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.preview-container > div.title-container{
  width: 100%;
}
