<nav>
  <ul>
      <span>
      <li>
        <a routerLink="/pictures">Pictures <fa-icon [icon]="['fas', 'images']"></fa-icon></a>
      </li>
      <li>
        <a routerLink="/addNew">Add new <fa-icon [icon]="['fas', 'plus-square']"></fa-icon></a>
      </li>
      </span>
      <li>
          <a routerLink="/user/authenticate" *ngIf="username; else loggedInBlock">{{username}} <fa-icon [icon]="['fas', 'user']"></fa-icon></a>
        <ng-template #loggedInBlock>
          <a routerLink="/user/authenticate">Sign In/Register <fa-icon [icon]="['fas', 'user']"></fa-icon></a>
        </ng-template>
      </li>
  </ul>
</nav>
<router-outlet></router-outlet>
