<div class="main-container">

      <h3>Create new user</h3>

      <div class="picture-div">

      <div class="picture-container">
          <div class="picture">
            <img *ngIf="previewSrc; else noPictureSelected" [src]="previewSrc" alt="selected user avatar">
          </div>
          <button class="" (click)="profilePicture.markAsTouched(); file.click()">
            Choose Picture
          </button>
      </div>

        <ng-template #noPictureSelected>
          <fa-icon [icon]="['fas', 'portrait']"></fa-icon>
        </ng-template>

        <div class="validation">
          <span *ngIf="profilePicture.dirty && profilePicture.errors?.required">Please choose a profile picture</span>
        </div>

    </div>


  <form (ngSubmit)="handleSubmit(form)" #form [formGroup]="registrationForm">

      <label for="username">Username</label>
      <input type="text" name="username" value="" id="username" formControlName="username" maxlength="20">
      <div class="validation">
        <span *ngIf="touchedOrDirty(username) && username.invalid && username.errors?.required">Username is required</span>
        <span *ngIf="touchedOrDirty(username) && username.invalid && username.errors?.available">This username is already taken</span>
        <span *ngIf="touchedOrDirty(username) && username.pending" class="pending">Checking if username is already taken...</span>
        <span *ngIf="touchedOrDirty(username) && username.invalid && username.errors?.httpError">Error validating username please try registering again later</span>
        <span *ngIf="touchedOrDirty(username) && username.valid" class="valid">The username is available</span>
      </div>


<div class="formGroup" formGroupName="passwordGroup">

        <label for="password">Password</label>
        <input type="password" name="password" id="password" formControlName="password">
      <div class="validation">
        <span *ngIf="touchedOrDirty(passwordGroup) && passwordGroup.errors?.password">{{passwordGroup.errors.password}}</span>
      </div>

        <label for="repeatPassword">Repeat Password</label>
        <input type="password" name="repeatPassword" value="" id="repeatPassword" formControlName="repeatPassword">
      <div class="validation">
        <span *ngIf="touchedOrDirty(repeatPassword) && passwordGroup.errors?.repeatPassword">{{passwordGroup.errors.repeatPassword}}</span>
      </div>
</div>

      <input type="file" #file name="profilePicture" value="" accept="image/*" (change)="(file.files.length)?readFileIntoAURL(file.files[0]):previewSrc=null;" formControlName="profilePicture">
      <button type="submit" name="button">Create user</button>
  </form>

</div>
