div{
    width: 25%;
    border: 1px solid red;
    height: 60px;
}
nav{
  display: flex;
}
a{
    border: 1px solid red;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

span{
  margin-right: 10px;
}
