li{
    width: 50%;
    border: 1px solid black;
}
ul{
  list-style: none;
  display: flex;
}
a{
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ac7e8a;
}
