

<div class="main-container">
  <h3>Welcome back!</h3>
<form class="" action="index.html" method="post" [formGroup]="userCredentials" (ngSubmit)="handleSubmit()">

  <div class="">
    <label for="username">Username:</label>
    <input type="text" formControlName="username" id="username" >
    <div class="validationMsg" [class.visible]="isValid">
      The username is required
    </div>
  </div>

<div class="">
  <label for="password">Password</label>
  <input type="text" formControlName="password"id="password">
  <div class="validationMsg" [class.visible]="isValid">
    The password is required
  </div>
</div>
  <input type="submit" name="" value="Login">
</form>
{{message}}
</div>
