.main-container{
  background: #494E6B;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  padding: 80px 10px 80px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form{
  margin-top: 20px;
}
form > div{
  margin-bottom: 30px;
}
label{
  display: block;
  margin-bottom: 10px;
}
input{
  padding: 5px;
}
input[type="submit"]{
  background: #985E6D;
  border: 1px solid black;
  padding: 15px;
}
.validationMsg {
  color: red;
  margin-top: 10px;
  opacity: 0;
}
.visible {
  opacity: 1;
}

@media screen and (min-width: 375px){
}
@media screen and (min-width: 760px){
}
@media screen and (min-width: 1024px){
  .main-container{
    width: 60%;
    align-items: flex-start;
    padding: 80px 10px 80px 120px;
  }
}
@media screen and (min-width: 1400px){
}
