.main-container {
  padding-top: 40px;
  padding-bottom: 40px;
}
nav{
  width: 100%;
}
ul{
  list-style: none;
  display: flex;
}
li{
  width: 50%;
}
a{
  text-decoration: none;
  display: block;
  border: 1px black solid;
  background: #ac7e8a;
  font-size: 17px;
  padding: 15px 0px;
  text-align: center;
}
@media screen and (min-width: 375px) and (max-width: 760px){
  a{
    font-size: 20px;
  }
}
@media screen and (min-width: 761px){
  a{
    font-size: 20px;
  }
  .main-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px){

}
