.main-container{
  width: 75%;
  margin: 0 auto;
}
.main-picture {
  height: 800px;
  margin: 0 auto;
  display: block;
}
h2{
  text-align: center;
  font-size: 30px;
}
.title{
  font-size: 25px;
  font-weight: bold;
}
.comment-container, .form-container{
  display: flex;
  border: 1px solid black;
  border-radius: 2%;
  margin: 20px;
  min-height: 240px;
}
.avatar{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar > img{
  width: 180px;
  height: 180px;
  border-radius: 2%;
  margin: 30px;
}
.content{
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-around;
}
textarea{
  height: 55%;
  margin: 0px 40px;
  font-size: 20px;
  border: 1px solid black;
  padding: 20px;
  overflow: auto
}
.form-container .button-container{
  height: 20%;
}
.form-container .button-container button{
  margin: 0px 40px;
  padding: 15px;
}
.form-container fa-icon{
  font-size: 60px;
}
.comment-container button, h3{
  margin: 8px;
}
.comment-container button{
  margin: 0px 40px;
  padding: 15px;
}
.comment-container .button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

p{
  margin: 15px;
}
.isLiked{
  color: #3b5998;
}
.content .comment{
  margin: 0px 40px;
}
