  <div class="main-container">
          <h2 class="title">{{pictureTitle}}</h2>
          <img class="main-picture" src="{{mainImageSrc | addLocalhost}}" alt="">

<div class="wrapper">
    <h3>
      Comments
    </h3>
  <ng-container *ngFor="let comment of commentsArray; index as i">
      <div class="child-container">

        <div class="avatar">
          <img src="{{comment.commentAuthorUsername | addLocalhost:avatarPrefix }}.jpg" alt="">
        </div>

        <h3 class="name">{{comment.commentAuthorUsername}}</h3>

        <div class="content">
          <p>{{comment.text}}</p>

          <div class="button-container">
            <div class="" >
              <button type="button" name="button" *ngIf="comment.commentAuthorUsername === username" (click)="handleDelete(comment.commentId)"><fa-icon [icon]="['fas', 'trash-alt']" ></fa-icon> Remove comment</button>
            </div>

            <div class="">
              <span [class.onlyCount]="!username">
                Current Likes: <span>{{comment.likes}}</span>
              </span>
              <button type="button" name="button" *ngIf="username" (click)="handleLikeButton(comment)" [class.isLiked]="comment.liked"><fa-icon [icon]="['fas', 'thumbs-up']" ></fa-icon> Like comment</button>
            </div>

          </div>

        </div>

      </div>

    </ng-container>

  <ng-template #notSignedInBlock>

    <div class="flex-container">
          <fa-icon [icon]="['fas', 'info-circle']"></fa-icon>
          <h4>You must sign in or register to add or like comments</h4>
    </div>

  </ng-template>

      <ng-container *ngIf="username; else notSignedInBlock">

        <div class="child-container form-container">
              <div class="avatar">
                <img src="{{ username | addLocalhost:avatarPrefix }}.jpg" alt="">
              </div>

              <div class="validation">
                <p *ngIf="(commentControl.dirty || commentControl.touched) && commentControl.invalid">The comment is empty</p>
              </div>

              <div class="form content">
                <textarea name="name" rows="2" cols="40" placeholder="Add new comment" #newComment [formControl]="commentControl"></textarea>
              </div>

              <button type="button" class="content" name="button" (click)="handlePostComment(newComment.value)" [disabled]="postingNewComment">
                <fa-icon [icon]="['fas', 'envelope']"></fa-icon> Post comment</button>



        </div>

      </ng-container>

  </div>

</div>
