.container{
  height: 100%;
  display: flex;
  flex-direction: column;
  border: black 1px solid;
  border-radius: 2%;
  background: #494E6B;
  align-items: center;
  justify-content: space-between;
  color: #e5e5e5;
}
a{
  height: 100%;
  padding: 20px;
}
p{
  margin-bottom: 0px;
}
.preview{
  border: 1px black solid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 60px;
  margin: 0px 20px;
}
img,.icon{
  border: 1px black solid;
  color: black;
}
img{
  vertical-align: bottom;
  height: 100%;
  width: 100%;
}
.center-and-color{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #708090;
}
.enlarge{
  font-size: 50px;
}
.title{
  padding: 10px;
  text-align: center;
}
.details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 375px){
  .preview{
    grid-template-rows: 100px 100px;
    margin: 0px 40px;
  }
}
@media screen and (min-width: 760px){
  .preview{
    grid-template-rows: 100px 100px;
    margin: 0px;
  }
}
@media screen and (min-width: 1024px){

}
@media screen and (min-width: 1400px){

}
