/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body,input, select, button{
  font-size: 20px;
}
h2{
  font-size: 24px;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}
