/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  color: #F5F5F5;
}

body,input, select, button{
  font-size: 20px;
}
body{
  background: #494E6B;
  background: #494E6B;
  background:#192231;
  color: white;
}
h2{
  font-size: 24px;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: black;
}
